# Authentication token for Invo API, found in Developer tab on Invo web app
INVOAPP_JWT=""

# portfolio id you wish to track, found in developer tab on Invo web app
PORTFOLIO_ID=""

# Hyperliquid main wallet public key and private api keys, valid for 180 days
PUBLIC_KEY=""
MAINNET_PRIVATE_KEY=""
TESTNET_PRIVATE_KEY=""